<div class="promo-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 sm-margin-b-60">
                <div class="margin-b-30">
                    <h1 class="promo-block-title">Le <br/> Viet <br/> Dat </h1>
                    <p class="promo-block-text">Web Developer</p>
                </div>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/le.vietdat.12" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-dribbble"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-behance"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="promo-block-img-wrap">
                    <img class="promo-block-img img-responsive img-size" src="../img/avatar/avatar.png" align="Avatar">
                </div>
            </div>
        </div>
    </div>
</div>
