<div id="contact">
    <div class="bg-color-sky-light">
        <div class="container content-lg">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                   <h2>Contact Me</h2>
                   <p>If you wish to be contact for me, please call me by telephone or send a message to email.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-6 md-margin-b-30">
                    <h4>Location</h4>
                    <a href="#">59/160/51/23, 102 Street, Tang Nhon Phu A ward, Distrist 9, Ho Chi Minh City</a>
                </div>
                <div class="col-md-3 col-xs-6 md-margin-b-30">
                    <h4>Phone</h4>
                    <a href="#">+84 166 870 8845</a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h4>Email</h4>
                    <a href="mailto:levietdatqn@gmail.com">levietdatqn@gmail.com</a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h4>Web</h4>
                    <a href="#">levietdat.com</a>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
